@use "../abstracts/" as *;
.footer {
  width: 100%;

  .container {
    padding: 40px 15px;
    .top {
      @include flex($align: flex-start, $justify: space-between);
      margin: auto;
      padding: 50px 0;
      @include mobile {
        flex-direction: column;
      }
      .logo {
        @include flex($align: center, $justify: center);
      }
      .footer-title {
        span {
          font-family: $Second-font;
          font-weight: 900;
          font-size: 26px;
          line-height: 31px;
          color: $text-color;
          @include tablet {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }

      .contents {
        width: 60%;
        @include flex($align: flex-start, $justify: space-evenly);

        .contents-list {
          flex-direction: row;
          gap: 40px;
        }
        @include mobile {
          width: 100%;
          .contents-list {
            flex-direction: column;
            gap: 0;
          }
        }
        .list-footer {
          display: flex;
        }
        div {
          @include flex(
            $align: flex-start,
            $justify: start,
            $direction: column
          );
          text-align: start;

          a {
            font-family: $third-font;
            font-weight: 700;
            font-size: 19px;
            line-height: 22px;
            color: $text-color-second;
            margin-bottom: 10px;
            @include tablet {
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }

    .bottom {
      @include flex($align: center, $justify: space-between);

      margin: auto;
      padding: 30px 0;
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
      .footer-bottom__title {
        font-family: $third-font;
        color: $text-color-second;
        font-weight: 700;
      }
      a {
        color: $text-color-second;
        font-family: $third-font;
        font-weight: 700;
      }
    }
  }
}
