@use "../abstracts/" as *;
.footer {
  width: 100%;

  .container {
    padding: 40px 15px;
    .top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: auto;
      padding: 50px 0;
      @include mobile {
        flex-direction: column;
      }

      .footer-title {
        .logo {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            font-family: $Second-font;
            font-weight: 900;
            font-size: 26px;
            line-height: 31px;
            color: $text-color;
            @include tablet {
              font-weight: 900;
              font-size: 16px;
              line-height: 19px;
            }
          }
        }
      }

      .contents {
        width: 60%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        .contents-list {
          flex-direction: row;
          gap: 40px;
        }
        @include mobile {
          width: 100%;
          .contents-list {
            flex-direction: column;
            gap: 0;
          }
        }
        .list-footer {
          display: flex;
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: start;
          text-align: start;

          a {
            font-family: $Second-font;
            font-weight: 700;
            font-size: 19px;
            line-height: 22px;
            color: $text-color-second;
            margin-bottom: 10px;
            text-align: start;
            @include tablet {
              font-weight: 700;
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      padding: 30px 0;
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
      .footer-bottom__title {
        span {
          color: $text-color-second;
          font-family: $Second-font;
          font-weight: 700;
        }
      }
      a {
        color: $text-color-second;
        font-family: $Second-font;
        font-weight: 700;
      }
    }
  }
}
