@use "../abstracts/" as *;

header {
  .header__test {
    display: flex;
    justify-content: center;
    position: relative;
    @include mobile {
      display: block;
    }
  }

  .main-heading-sec {
    padding: 100px 0;

    @include tablet {
      padding: 50px 0;
    }
    @include mobile {
      padding: 100px 0;
    }
    .container {
      figure {
        max-width: 70%;
        margin-left: auto;
        position: relative;
        @include mobile {
          max-width: 100%;
        }
        .main-girl {
          width: 100%;
          object-fit: cover;
          box-shadow: $box-shadow;
        }
      }

      .header-part {
        max-width: 41%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        @include tablet {
          max-width: 42%;
        }
        @include mobile {
          max-width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .header-title {
          .header {
            font-family: $primary-font;
            font-weight: 900;
            font-size: 59px;
            margin-bottom: 30px;
            line-height: 69px;
            @include tablet {
              font-size: 38px;
              line-height: 46px;
            }
            @include mobile {
              width: 284px;
              transform: translate(0, -35%);
            }
          }
        }
        .header-bottom {
          .header-p {
            font-family: $third-font;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 30px;
            @include tablet {
              font-size: 12px;
              line-height: 16px;
            }
            @include mobile {
              margin: 0;
            }
          }

          .header-links {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .try-now {
              padding: 15px 55px;
              background-color: $primary-color;
              border: 2px solid $primary-color;
              color: $background-color;
              font-family: $primary-font;
              font-weight: 900;
              font-size: 18px;
              line-height: 25px;
              transition: all 0.3s;
              @include tablet {
                padding: 15px 35px;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
              }
              @include mobile {
                padding: 15px 30px;
              }
            }

            .get-demo {
              padding: 15px 55px;
              background-color: $background-color-img;
              color: $primary-color;
              border: 2px solid $primary-color;
              font-family: $primary-font;
              font-weight: 900;
              font-size: 18px;
              line-height: 25px;
              transition: all 0.3s;
              @include tablet {
                padding: 15px 35px;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
              }
              @include mobile {
                padding: 15px 30px;
              }
            }

            .try-now:hover {
              background-color: $background-color-hover;
              color: $hover-color;
              border-color: $bg-color-hover-second;
            }

            .get-demo:hover {
              background-color: $background-color-hover;
              color: $hover-color;
              border-color: $bg-color-hover-second;
            }
          }
          @include mobile {
            margin: -95px 0;
          }
        }
      }
    }
  }
}
