@use "../abstracts/" as *;
.brands-sec {
  margin: 40px 0;
  .container {
    .heading-ads {
      display: flex;
      justify-content: center;
      h2 {
        width: 40%;
        font-family: $primary-font;
        font-weight: 900;
        font-size: 44px;
        line-height: 48px;
        text-align: center;
        @include tablet {
          font-weight: 900;
          font-size: 28px;
          line-height: 36px;
        }
        @include mobile {
          margin: 60px 0;
          font-weight: 900;
          font-size: 26px;
          line-height: 36px;
          width: 60%;
        }
      }
    }

    .heading-links {
      margin-top: 40px;
      width: 100%;
      flex-wrap: wrap;

      @include flex($align: center, $justify: space-between);
      a {
        &:hover {
          box-shadow: $box-shadow-third;
        }
      }
      @include mobile {
        gap: 10px;
        .img {
          flex-wrap: wrap;
          &:last-child {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
