@use "../abstracts/" as *;
.brands-sec {
  margin: 40px 0;
  .container {
    .heading-ads {
      display: flex;
      justify-content: center;
      h2 {
        width: 40%;
        font-family: $primary-font;
        font-weight: 900;
        font-size: 44px;
        line-height: 48px;
        text-align: center;
        @include tablet {
          font-size: 28px;
          line-height: 36px;
        }
        @include mobile {
          margin: 60px 0;
          font-size: 26px;
          line-height: 36px;
          width: 44%;
        }
      }
    }

    .heading-links {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      a {
        &:hover {
          box-shadow: $box-shadow-third;
        }
      }
      @include mobile {
        grid-template-columns: 1fr 1fr;
        .img {
          padding: 10px;
          &:nth-child(1) {
            order: 3;
          }
          &:nth-child(2) {
            order: 1;
          }
          &:nth-child(4) {
            order: 4;
          }
          &:nth-child(5) {
            order: 2;
          }
          &:nth-child(3) {
            order: 5;
            grid-column: 1 / 3;
          }
        }
      }
    }
  }
}
