@use "../abstracts/" as *;
@forward "provement-sec";
@forward "start-today-sec";
@forward "reach-customer-sec";
@forward "send-mail-sec";
@forward "brands";
@forward "nav";
.container {
  max-width: 1140px;
  margin: 0 auto;

  @include tablet {
    max-width: 720px;
  }

  @include mobile {
    padding: 0 15px;
    max-width: inherit;
  }
}
.main-heading-sec {
  a {
    text-transform: uppercase;
  }
}
