@use "../abstracts/" as *;
@forward "nav";

.container {
  max-width: 1140px;
  margin: 0 auto;

  @include tablet {
    max-width: 720px;
  }

  @include mobile {
    padding: 0 15px;
    max-width: inherit;
  }
}
