@use "../abstracts/" as *;
#send-email-sec {
  .container {
    .cards {
      display: flex;
      margin-top: 100px;
      gap: 30px;
      @include mobile {
        display: flex;
        flex-direction: column;
      }

      .card-case {
        .card {
          background-color: $background-color;
          position: relative;
          box-shadow: $box-shadow-second;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: $background-color-third;
          }

          img {
            width: 100%;
            height: 100%;
          }

          .texts {
            position: absolute;
            z-index: 20;
            top: 65%;
            left: 10%;
            display: flex;
            flex-direction: column;

            .customer-name {
              font-family: $third-font;
              color: $background-color;
              font-size: 34px;
              line-height: 40px;
              font-weight: 900;
              @include tablet {
                font-size: 22px;
                line-height: 26px;
                font-weight: 900;
              }
            }

            .year {
              font-family: $third-font;
              color: $background-color;
              font-size: 19px;
              line-height: 22px;
              font-weight: 700;
              @include mobile {
                font-size: 12px;
                line-height: 14px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .heading {
      max-width: 70%;
      margin: auto;
      @include flex($align: center, $justify: center);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-learn {
        font-family: $primary-font;
        font-size: 44px;
        font-weight: 900;
        margin: 30px 0;
        line-height: 48px;
        text-align: center;
        @include tablet {
          font-size: 28px;
          line-height: 36px;
          font-weight: 900;
          max-width: 50%;
        }
        @include mobile {
          font-size: 26px;
          line-height: 36px;
          font-weight: 900;
        }
        @include mobile {
          font-size: 26px;
          line-height: 36px;
          font-weight: 900;
          max-width: 100%;
        }
      }

      .input-field {
        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          button {
            order: 3;
          }
        }
        input {
          padding: 12px 40px;
          background: $background-color;
          border: $boder-color;
          box-sizing: border-box;
          border-radius: 5px;
          outline: none;
          font-size: 21px;
          line-height: 25px;
          font-weight: 500;
          @include tablet {
            font-size: 13px;
            line-height: 15px;
            font-weight: 500;
            padding: 12px 40px;
          }
        }

        button {
          padding: 12px 40px;
          background-color: $primary-color;
          border: 0px solid $primary-color;
          color: $background-color;
          font-family: $Second-font;
          font-weight: 900;
          font-size: 21px;
          line-height: 25px;
          transition: all 0.3s;
          @include tablet {
            font-size: 13px;
            line-height: 15px;
            font-weight: 500;
            padding: 12px 40px;
          }
          &:hover {
            background-color: $background-color-hover;
            color: $hover-color;
            border-color: $bg-color-hover-second;
          }
        }
      }
      p {
        color: $text-color-third;
        font-family: $Second-font;
      }
      &-ads {
        display: flex;
        h2 {
          font-family: $primary-font;
          font-weight: 900;
          font-size: 44px;
          line-height: 48px;
          text-align: center;
          @include tablet {
            font-weight: 900;
            font-size: 28px;
            line-height: 36px;
            margin: 0px 50px;
          }
          @include mobile {
            margin: 60px 0;
            width: 50%;
          }
        }
      }

      &-links {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          margin: 10px;
          &:hover {
            box-shadow: $box-shadow-third;
          }
        }
        @include mobile {
          flex-wrap: wrap;
          margin: 0px;
        }
      }
    }
  }
}
