@use "../abstracts/" as *;

.main-heading-sec {
  padding: 100px 0;
  @include tablet {
    padding: 50px 0;
  }
  .container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;

    @include tablet {
      max-width: 720px;
    }

    @include mobile {
      padding: 0 15px;
      max-width: inherit;
    }

    .main-girl {
      position: absolute;
      align-self: center;
      width: 65%;
      box-shadow: $box-sadow;
    }

    .header-part {
      width: 45%;
      margin-top: 70px;
      margin-bottom: 150px;
      margin-left: 50px;
      display: inline-flex;
      flex-direction: column;
      z-index: 2;
      @include tablet {
        width: 45%;
        margin-top: 14px;
        margin-left: 0px;
      }

      .header {
        font-family: $Second-font;
        font-weight: 900;
        font-size: 59px;
        margin-bottom: 30px;
        line-height: 69px;
        @include tablet {
          font-weight: 900;
          font-size: 38px;
          margin-bottom: 30px;
          line-height: 46px;
        }
      }

      .header-p {
        font-family: $Second-font;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 26px;
        @include tablet {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
        }
      }

      .header-links {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        .try-now {
          padding: 15px 40px;
          background-color: $primary-color;
          border: 2px solid $primary-color;
          color: $background-color;
          font-family: $primary-font;
          font-weight: 900;
          font-size: 18px;
          line-height: 25px;
          transition: all 0.3s;
          @include tablet {
            padding: 10px 0px;
            width: 131px;
            height: 42px;
            font-weight: 900;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
          }
        }

        .get-demo {
          padding: 15px 40px;
          background-color: $background-color-img;
          color: $primary-color;
          border: 2px solid $primary-color;
          font-family: $primary-font;
          font-weight: 900;
          font-size: 18px;
          line-height: 25px;
          transition: all 0.3s;
          margin: 0 40px;
          @include tablet {
            padding: 10px 0px;
            width: 131px;
            height: 42px;
            font-weight: 900;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
          }
        }

        .try-now:hover {
          background-color: $background-color-hover;
          color: $hover-color;
          border-color: $bg-color-hover-second;
        }

        .get-demo:hover {
          background-color: $background-color-hover;
          color: $hover-color;
          border-color: $bg-color-hover-second;
        }
      }
    }
  }
}
