@use "../abstracts/" as *;

.main-heading-sec {
  padding: 100px 0;
  .container {
    display: flex;
    justify-content: flex-start;
    position: relative;

    .main-girl {
      position: absolute;
      right: 0;
      align-self: center;
      width: 65%;
      box-shadow: $box-sadow;
    }

    .header-part {
      width: 45%;
      margin-top: 70px;
      margin-bottom: 150px;
      margin-left: 50px;
      display: inline-flex;
      flex-direction: column;
      z-index: 2;

      .header {
        font-family: $Second-font;
        font-weight: 900;
        font-size: 59px;
        margin-bottom: 30px;
        line-height: 69px;
      }

      .header-p {
        font-family: $Second-font;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 26px;
      }

      .header-links {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        .try-now {
          padding: 15px 40px;
          background-color: $primary-color;
          border: 2px solid $primary-color;
          color: $background-color;
          font-family: $primary-font;
          font-weight: 900;
          font-size: 18px;
          line-height: 25px;
          transition: all 0.3s;
        }

        .get-demo {
          padding: 15px 40px;
          background-color: $background-color-img;
          color: $primary-color;
          border: 2px solid $primary-color;
          font-family: $primary-font;
          font-weight: 900;
          font-size: 18px;
          line-height: 25px;
          transition: all 0.3s;
          margin: 0 40px;
        }

        .try-now:hover {
          background-color: $background-color-hover;
          color: $hover-color;
          border-color: $bg-color-hover-second;
        }

        .get-demo:hover {
          background-color: $background-color-hover;
          color: $hover-color;
          border-color: $bg-color-hover-second;
        }
      }
    }
  }
}
