@use "../abstracts/" as *;

.main-heading-sec {
  padding: 100px 0;

  @include tablet {
    padding: 50px 0;
  }
  @include mobile {
    padding: 100px 0;
    margin: auto;
  }
  .container {
    display: flex;
    justify-content: flex-start;
    position: relative;

    figure {
      .main-girl {
        width: 100%;
        object-fit: cover;
        box-shadow: $box-shadow;
        position: absolute;
        right: 0;
        align-self: center;
        width: 65%;
        @include mobile {
          width: 100%;
        }
      }
    }

    .header-part {
      width: 45%;
      margin-top: 70px;
      margin-bottom: 150px;
      margin-left: 50px;
      display: inline-flex;
      flex-direction: column;
      z-index: 2;
      @include tablet {
        margin-top: 14px;
        margin-left: 0px;
      }
      @include mobile {
        width: 100%;
        margin: auto;
      }

      .header {
        font-family: $primary-font;
        font-weight: 900;
        font-size: 59px;
        margin-bottom: 30px;
        line-height: 69px;
        @include tablet {
          font-weight: 900;
          font-size: 38px;
          margin-bottom: 30px;
          line-height: 46px;
        }
        @include mobile {
          width: 80%;
          margin-top: -40px;
        }
      }

      .header-p {
        font-family: $Second-font;
        font-weight: 500;
        font-size: 18px;
        @include tablet {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
        }
        @include mobile {
          padding-top: 70px;
          margin-top: 20px;
        }
      }

      .header-links {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        @include mobile {
          justify-content: space-around;
        }

        .try-now {
          padding: 15px 40px;
          background-color: $primary-color;
          border: 2px solid $primary-color;
          color: $background-color;
          font-family: $primary-font;
          font-weight: 900;
          font-size: 18px;
          line-height: 25px;
          transition: all 0.3s;
          @include tablet {
            padding: 15px 20px;
            font-weight: 900;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
          }
          @include mobile {
          }
        }

        .get-demo {
          padding: 15px 40px;
          background-color: $background-color-img;
          color: $primary-color;
          border: 2px solid $primary-color;
          font-family: $primary-font;
          font-weight: 900;
          font-size: 18px;
          line-height: 25px;
          transition: all 0.3s;
          @include tablet {
            padding: 10px 0px;
            font-weight: 900;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
          }
        }

        .try-now:hover {
          background-color: $background-color-hover;
          color: $hover-color;
          border-color: $bg-color-hover-second;
        }

        .get-demo:hover {
          background-color: $background-color-hover;
          color: $hover-color;
          border-color: $bg-color-hover-second;
        }
      }
    }
  }
}
