<section class="provement-sec">
  <div class="container">
    <div class="cards">
      <div class="card1">
        <include
          src="./components/card-provement.html"
          locals='{
            "img": "../assets/images/photo.png",
            "content": "Launch campaigns but also find new customers. Our unique platform handles campaigns from start to end.",
            "contentLink": "Learn more"
            }'
        />
      </div>
      <div class="card2">
        <include
          src="./components/card-provement.html"
          locals='{
            "img": "../assets/images/photol.png",
            "content": "Launch campaigns but also find new customers. Our unique platform handles campaigns from start to end.",
            "contentLink": "Learn more"
            }'
        />
      </div>
    </div>
    <div class="heading">
      <h2>The source for proven, engaging email campaigns</h2>
      <p>
        Whether you’re a startup, small business, e-commerce store, or want to
        promote your app, NinjaMail has the feature set tailored for your
        business.
      </p>
    </div>
  </div>
</section>
