<section>
  <div class="container">
    <div class="heading-ads">
      <h2>All the best brands already use us.</h2>
    </div>
    <div class="heading-links">
      <div class="heading-links__logo">
        <a href="javascript:void(0)"
          ><img src="../assets/images/Logo1.png" alt="logo"
        /></a>
        <a href="javascript:void(0)"
          ><img src="../assets/images/Logo2.png" alt="logo"
        /></a>
      </div>
      <div class="heading-links__logo3">
        <a href="javascript:void(0)"
          ><img src="../assets/images/Logo3.png" alt="logo"
        /></a>
      </div>
      <div class="heading-links__logo">
        <a href="javascript:void(0)"
          ><img src="../assets/images/Logo4.png" alt="logo"
        /></a>
        <a href="javascript:void(0)"
          ><img src="../assets/images/Logo5.png" alt="logo"
        /></a>
      </div>
    </div>
  </div>
</section>
