<section class="main-heading-sec">
  <div class="container">
    <div class="header-part">
      <h1 class="header">Create Stunning Email Campaigns</h1>
      <p class="header-p">
        Create and launch email campaigns that captivate your customers in just
        a few clicks.
      </p>
      <div class="header-links">
        <a href="javascript:void(0)" class="try-now">try now</a>
        <a href="javascript:void(0)" class="get-demo">get a demo</a>
      </div>
    </div>
    <figure>
      <img src="../assets/images/main-girl.png" alt="girl" class="main-girl" />
    </figure>
  </div>
</section>
