<section class="main-heading-sec">
  <div class="container">
    <div class="header_test">
      <figure>
        <img
          src="../assets/images/main-girl.png"
          alt="girl"
          class="main-girl"
        />
      </figure>
      <div class="header-part">
        <div class="header-title">
          <h1 class="header">Create Stunning Email Campaigns</h1>
        </div>
        <div class="header-bottom">
          <p class="header-p">
            Create and launch email campaigns that captivate your customers in
            just a few clicks.
          </p>
          <div class="header-links">
            <a href="javascript:void(0)" class="try-now">try now</a>
            <a href="javascript:void(0)" class="get-demo">get a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
