@use "../abstracts/" as *;

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: PlayfairDisplay;
  src: url(../assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway-Bold;
  src: url(../assets/fonts/RalewayBold/Raleway-Black.ttf);
}

body {
  font-family: $Second-font;
  font-weight: 400;
  font-size: 1rem;
  line-height: pxToRem(24);
  color: $text-color;
  background-color: $background-color;

  @include tablet {
    font-size: pxToRem(11);
    line-height: pxToRem(16);
  }
}
